# ДЗ

###### Задача 1 Связанные списки

Напишите функцию (пусть она будет называться reverse_linked_list), которая разворачивает связный список. На вход она принимает головную ноду, а на выход отдаёт хвостовую ноду исходного списка, но только теперь если попробовать пройтись по ней, она будет новой головной. С функцией из примера выше,

Напечатает

In [ ]:
[Node with value 1]
[Node with value 2]
[Node with value 3]
[Node with value Внезапно]
[Node with value 5]
---
[Node with value 5]
[Node with value Внезапно]
[Node with value 3]
[Node with value 2]
[Node with value 1]

Подсказка: вам понадобится "вспомогательная нода", куда вы будете переворачивать список. Можете написать вспомотаельную функцию которая "переворачивает ноду".

In [1]:
class Node(object):
    def __init__(self, value=None, next_node=None):
        self.value = value
        self.next = next_node

    def __str__(self):
        return f"[Node with value {self.value}]"


def print_linked_list(head):
    cur = head
    while cur is not None:
        print(cur)
        cur = cur.next  


a = Node(1)
b = Node(2)
c = Node(3)

a.next = b
b.next = c

def reverse_linked_list(head):
    tail=None
    while head is not None:
        cur=head
        curnext=head.next
        head.next=tail
        tail=cur
        head=curnext
    return tail

print_linked_list(a)
print("---")
print_linked_list(reverse_linked_list(a))

[Node with value 1]
[Node with value 2]
[Node with value 3]
---
[Node with value 3]
[Node with value 2]
[Node with value 1]

###### Задача 2 Пузырьки

Сортировкой пузырьком это один из самых простейших алгоритмов сортировки, который можно придумать. В базовом виде он подразумеват вложенный цикл и реализуется как-то так

In [2]:
l = [2, 4, 1, 1, 2, 0]

for i in range(len(l)):
    for j in range(i, len(l)):
        if l[i] > l[j]:
            l[i], l[j] = l[j], l[i]

print(l)

[0, 1, 1, 2, 2, 4]

Вам предлагается написать функцию, которая будет на вход получать голову несортированного связного списка, а на выход возвращать голову отсортированного.

Подсказка: так как в задании ничего не сказано про то, как должна вести себя функция, можете считать что можно просто менять значения, которые лежат в нодах, без замены их указателей. Или можете написать вспомогательную функцию, которая будет менять две ноды местами.

Эта задачка вполне может показаться вам запутанной и сложной. Но я советую всё равно её решить.

Ну ладно. В общем, такого рода задачки это типичные задачки которые стоит порешать, если вы серьёзно хотите примерить на себя шляпу программиста. Там помимо таких конструкций как вот эти вот связные списки будет ещё много чего другого интересно, например бинарные деревья, куча и хэш-таблицы (и много чего другого). Решение задачек на обработку таких структур доставляет своё изощрённое удовольствие. Не отказываете себе в нём // DA

In [3]:
class PNode(object):
    def __init__(self, value=None, next_node=None):
        self.value = value
        self.next = next_node

    def __str__(self):
        return f"[Node with value {self.value}]"


def print_linked_list(head):
    cur = head
    while cur is not None:
        print(cur)
        cur = cur.next

a=PNode(2)
b=PNode(4)
c=PNode(1)
d=PNode(1)
e=PNode(2)
f=PNode(0)

a.next = b
b.next = c
c.next = d
d.next = e
e.next = f

def Sorting(head):
    tail=None
    while tail!=head:
        p=head
        while p.next!=tail:
            q=p.next
            if p.value>q.value:
                cur=p.value
                p.value=q.value
                q.value=cur
            p=p.next
        tail=p
    return tail
    


print_linked_list(Sorting(a))

[Node with value 0]
[Node with value 1]
[Node with value 1]
[Node with value 2]
[Node with value 2]
[Node with value 4]

###### Задача 3 Pandas

1) Выясните, сколько в среднем выходи полный счёт по пятницам на ланч у курящих мужчин (датасет tips)

In [4]:
import pandas as pd
df = pd.read_csv("C:/Users/Арсений/python/MISIS_python/Season 2/tips.csv")
masque= (df["sex"]=="Male") & (df["smoker"]=="Yes") & (df["day"]=="Fri") & (df["time"]=="Lunch")
df[masque]["total_bill"].mean()

11.386666666666668

2) Загрузите iris и посмотрите разбросы по всем числовым значениям для всех трёх классов цветов (датасет iris)

In [5]:
iris = pd.read_csv("C:/Users/Арсений/python/MISIS_python/Season 2/iris.csv")
iris

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
iris["Name"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [7]:
iris[iris["Name"]=="Iris-setosa"].describe()

       SepalLength  SepalWidth  PetalLength  PetalWidth
count     50.00000   50.000000    50.000000    50.00000
mean       5.00600    3.418000     1.464000     0.24400
std        0.35249    0.381024     0.173511     0.10721
min        4.30000    2.300000     1.000000     0.10000
25%        4.80000    3.125000     1.400000     0.20000
50%        5.00000    3.400000     1.500000     0.20000
75%        5.20000    3.675000     1.575000     0.30000
max        5.80000    4.400000     1.900000     0.60000

In [8]:
iris[iris["Name"]=="Iris-versicolor"].describe()

       SepalLength  SepalWidth  PetalLength  PetalWidth
count    50.000000   50.000000    50.000000   50.000000
mean      5.936000    2.770000     4.260000    1.326000
std       0.516171    0.313798     0.469911    0.197753
min       4.900000    2.000000     3.000000    1.000000
25%       5.600000    2.525000     4.000000    1.200000
50%       5.900000    2.800000     4.350000    1.300000
75%       6.300000    3.000000     4.600000    1.500000
max       7.000000    3.400000     5.100000    1.800000

In [9]:
iris[iris["Name"]=="Iris-virginica"].describe()

       SepalLength  SepalWidth  PetalLength  PetalWidth
count     50.00000   50.000000    50.000000    50.00000
mean       6.58800    2.974000     5.552000     2.02600
std        0.63588    0.322497     0.551895     0.27465
min        4.90000    2.200000     4.500000     1.40000
25%        6.22500    2.800000     5.100000     1.80000
50%        6.50000    3.000000     5.550000     2.00000
75%        6.90000    3.175000     5.875000     2.30000
max        7.90000    3.800000     6.900000     2.50000

3) Создайте новый столбец с плотностью населения. Переименуйте названия первого и третьего столбца на русский язык

In [10]:
df = pd.DataFrame({
     'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
     'population': [17.04, 143.5, 9.5, 45.5],
     'square': [2724902, 17125191, 207600, 603628]
 })
df

      country  population    square
0  Kazakhstan       17.04   2724902
1      Russia      143.50  17125191
2     Belarus        9.50    207600
3     Ukraine       45.50    603628

In [11]:
df["density"]=df["population"]/df["square"]
df.rename(columns={"country" : "страна", "square" : "площадь"})

       страна  population   площадь   density
0  Kazakhstan       17.04   2724902  0.000006
1      Russia      143.50  17125191  0.000008
2     Belarus        9.50    207600  0.000046
3     Ukraine       45.50    603628  0.000075